<div class="footer_global aem-GridColumn aem-GridColumn--default--12">
<div>
</div>
<footer class="footer-metared">
<div class="section-container">
<div class="footer-content">
<div class="footer__logos_container">
<div class="footer__image_container">
<img alt="Metared ESG" class="footer__image" src="/index_files/MetaRedESG-negativo.png"/>
</div>
<div class="footer__social-media"><a class="media-link" href="https://www.facebook.com/MetaRedbyuniversia/" target="_blank" title="facebook"><i class="cmp__social-media--icon icon-bRRSS--07_facebook_stroke"></i></a>
      <a class="media-link" href="https://x.com/Universia" target="_blank" title="twitter"><i class="cmp__social-media--icon icon-bRRSS--08_twitter_stroke"></i></a>
      <a class="media-link" href="https://www.linkedin.com/company/metaredbyuniversia/" target="_blank" title="linkedin"><i class="cmp__social-media--icon icon-bRRSS--09_linkedin_stroke"></i></a>
      <a class="media-link" href="https://www.instagram.com/metaredbyuniversia/" target="_blank" title="instagram"><i class="cmp__social-media--icon icon-bRRSS--06_Instagram_stroke"></i></a>
      <a class="media-link" href="https://www.youtube.com/user/universia" target="_blank" title="youtube"><i class="cmp__social-media--icon icon-bRRSS--10_youtube_stroke"></i></a>
      </div>
</div>
<div class="footer--separator">
</div>
<div class="footer__text-container">
<span class="footer-text">
      © METARED - Con la colaboración de
      <img alt="Fundación Universia" class="logo-fundacion" onclick="window.open('#', '_blank')" src="/index_files/logotipo-universia-fundaci-n-blanco@3x.png"/>
      y BANCO SANTANDER
     </span>
<nav class="footer__legal-links-container">
<a class="footer__legal-link" href="https://www.metaredesg.org/content/metaredesg/global/aviso-legal.html" target="_blank">
       Términos generales
      </a>
<a class="footer__legal-link" href="https://www.metaredesg.org/content/metaredesg/global/politica-privacidad.html" target="_blank">
       Política de privacidad
      </a>
<a class="footer__legal-link" href="https://www.metaredesg.org/content/metaredesg/global/politica-cookies.html" target="_blank">
       Política de cookies
      </a>
</nav>
</div>
</div>
</div>
</footer>
</div>
