<div class="header_global aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--11 aem-GridColumn--offset--default--1">
 <header class="header-metared-mobile">
  <div class="header-container">
   <a class="header-container__logo" href="https://www.metaredesg.org/content/metaredesg/global/index.html">
    <img alt="Logo MetaRed" class="header-logo" src="/index_files/MetaRedESG.png"/>
   </a>
   <i class="icon-a-SYS015b--menu header-container__menu--icon icon-extend">
   </i>
   <i class="icon-c-SYS022b--close_L header-container__menu--icon icon-close hidden">
   </i>
  </div>
 </header>
 <div class="menu__mobile--container hidden">
  <a class="link-header link-margin" href="https://www.metaredesg.org/content/metaredesg/global/index.html">
   <span>
    Inicio
   </span>
  </a>
  <a class="link-header js-mobile-quienes-somos-tab">
   <span>
    Quiénes somos
    <i class="icon-a-SYS021--arrow_right">
    </i>
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/grupos-internacionales.html">
   <span>
    Grupos Internacionales
   </span>
  </a>
  <a class="link-header js-mobile-acciones-tab">
   <span>
    Acciones
    <i class="icon-a-SYS021--arrow_right">
    </i>
   </span>
  </a>
  <a class="link-header js-mobile-recursos-tab">
   <span>
    Recursos
    <i class="icon-a-SYS021--arrow_right">
    </i>
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/novedades.html">
   <span>
    Novedades
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/eventos.html">
   <span>
    Eventos
   </span>
  </a>
  <div class="link-header">
   <div class="searchGlobalComponentMetared" data-searchpage="/content/metaredesg/global/search-page">
    <div class="cmp-search-global">
     <span class="cmp-search-global-icon">
      <img alt="" class="cmp-input-button-img cmp-input-icon-search" src="/index_files/magnifying-glass-light.png"/>
     </span>
     <div class="cmp-search-input-container" style="display:none">
      <input class="cmp-search-input" placeholder="Buscar" type="text" value=""/>
      <button class="cmp-search-input-button cmp-search-input--search">
       <img alt="" class="cmp-input-button-img cmp-input-icon-trash cmp-search-input--hidden" src="/index_files/trash-can-light.png"/>
       <img alt="" class="cmp-input-button-img cmp-input-icon-xmark cmp-search-input--hidden" src="/index_files/xmark-light.png"/>
       <img alt="" class="cmp-input-button-img cmp-input-icon-search" src="/index_files/magnifying-glass-light.png"/>
      </button>
     </div>
    </div>
   </div>
   <script src="/index_files/clientlibs.min.js.descarga">
   </script>
   <link href="/index_files/clientlibs.min.css" rel="stylesheet" type="text/css"/>
  </div>
  <div class="menu__mobile--separator">
  </div>
 </div>
 <div class="submenu js-quienes-somos hidden">
  <span class="previous-menu link-margin">
   <i class="icon-b-SYS020--arrow_left">
   </i>
   Return
  </span>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/que-es-metared-esg.html">
   <span>
    ¿Qué es MetaRed ESG?
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/coordinacion-internacional.html">
   <span>
    Coordinación Internacional
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/redes-y-paises.html">
   <span>
    Redes y Países
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/adhesion-a-metared.html">
   <span>
    Adhesión
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/lineas-estrategicas.html">
   <span>
    Líneas Estratégicas
   </span>
  </a>
 </div>
 <div class="submenu js-acciones hidden">
  <span class="previous-menu link-margin">
   <i class="icon-b-SYS020--arrow_left">
   </i>
   Return
  </span>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/sellos-de-compromiso-en-sostenibilidad.html">
   <span>
    Análisis de implantación de políticas de sostenibilidad
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/global/novedades/tecnologia--sostenibilidad-y-emprendimiento--listado-de-ayudas-e.html">
   <span>
    Programa Intercambio Internacional
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/i-premio-metared-s11.html">
   <span>
    Premio Internacional MetaRed S
   </span>
  </a>
 </div>
 <div class="submenu js-recursos hidden">
  <span class="previous-menu link-margin">
   <i class="icon-b-SYS020--arrow_left">
   </i>
   Return
  </span>
  <a class="link-header" href="https://eventos.metared.org/event_detail/116244/detail/por-que-implementar-ya-la-rscesg-en-mi-universidad.html">
   <span>
    Curso de Rectores
   </span>
  </a>
  <a class="link-header" href="https://eventos.metared.org/98597/detail/diseno-e-implementacion-de-una-estrategia-de-impacto-basada-en-criterios-asg.html">
   <span>
    Curso de Gestores
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/recursos-y-formacion/modelo-de-indicadores-esg0.html">
   <span>
    Modelo de Indicadores ESG
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/repositorio-de-bbpp.html">
   <span>
    Repositorio de Buenas prácticas
   </span>
  </a>
  <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/recursos-y-formacion/calendario-de-ods1.html">
   <span>
    Calendario de ODS
   </span>
  </a>
 </div>
 <header class="header-metared-desktop">
  <div class="header-container">
   <a class="header-container__logo" href="https://www.metaredesg.org/content/metaredesg/global/index.html">
    <img alt="Logo MetaRed" class="header-logo" src="/index_files/MetaRedESG.png"/>
   </a>
   <div class="header-container__menu-desktop">
    <div class="header-container__menu-desktop-options">
     <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/index.html">
      <span class="link-header-span" id="inicio-tab">
       Inicio
      </span>
     </a>
     <div class="dropdown link-header">
      <span class="link-header-span" id="quienes-somos-tab">
       Quiénes somos
      </span>
      <ul class="dropdown-content">
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/que-es-metared-esg.html">
         ¿Qué es MetaRed ESG?
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/coordinacion-internacional.html">
         Coordinación Internacional
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/redes-y-paises.html">
         Redes y Países
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/adhesion-a-metared.html">
         Adhesión
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/lineas-estrategicas.html">
         Líneas Estratégicas
        </a>
       </li>
      </ul>
     </div>
     <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/grupos-internacionales.html">
      <span class="link-header-span" id="grupos-internacionales-tab">
       Grupos Internacionales
      </span>
     </a>
     <div class="dropdown link-header">
      <span class="link-header-span" id="acciones-tab">
       Acciones
      </span>
      <ul class="dropdown-content">
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/sellos-de-compromiso-en-sostenibilidad.html">
         Análisis de implantación de políticas de sostenibilidad
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/global/novedades/tecnologia--sostenibilidad-y-emprendimiento--listado-de-ayudas-e.html">
         Programa Intercambio Internacional
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/i-premio-metared-s11.html">
         Premio Internacional MetaRed S
        </a>
       </li>
      </ul>
     </div>
     <div class="dropdown link-header">
      <span class="link-header-span" id="recursos-tab">
       Recursos
      </span>
      <ul class="dropdown-content">
       <li>
        <a class="link-subheader" href="https://eventos.metared.org/event_detail/116244/detail/por-que-implementar-ya-la-rscesg-en-mi-universidad.html">
         Curso de Rectores
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://eventos.metared.org/98597/detail/diseno-e-implementacion-de-una-estrategia-de-impacto-basada-en-criterios-asg.html">
         Curso de Gestores
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/recursos-y-formacion/modelo-de-indicadores-esg0.html">
         Modelo de Indicadores ESG
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/repositorio-de-bbpp.html">
         Repositorio de Buenas prácticas
        </a>
       </li>
       <li>
        <a class="link-subheader" href="https://www.metaredesg.org/content/metaredesg/global/recursos-y-formacion/calendario-de-ods1.html">
         Calendario de ODS
        </a>
       </li>
      </ul>
     </div>
     <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/novedades.html">
      <span class="link-header-span" id="novedades-tab">
       Novedades
      </span>
     </a>
     <a class="link-header" href="https://www.metaredesg.org/content/metaredesg/global/eventos.html">
      <span class="link-header-span" id="eventos-tab">
       Eventos
      </span>
     </a>
    </div>
    <div class="dropdown link-header">
     <div class="searchGlobalComponentMetared" data-searchpage="/content/metaredesg/global/search-page">
      <div class="cmp-search-global">
       <span class="cmp-search-global-icon">
        <img alt="" class="cmp-input-button-img cmp-input-icon-search" src="/index_files/magnifying-glass-light.png"/>
       </span>
       <div class="cmp-search-input-container" style="display:none">
        <input class="cmp-search-input" placeholder="Buscar" type="text" value=""/>
        <button class="cmp-search-input-button cmp-search-input--search">
         <img alt="" class="cmp-input-button-img cmp-input-icon-trash cmp-search-input--hidden" src="/index_files/trash-can-light.png"/>
         <img alt="" class="cmp-input-button-img cmp-input-icon-xmark cmp-search-input--hidden" src="/index_files/xmark-light.png"/>
         <img alt="" class="cmp-input-button-img cmp-input-icon-search" src="/index_files/magnifying-glass-light.png"/>
        </button>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </header>
</div>
